.input {
    
    margin: 0 auto;
    padding: .7rem;
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 0.3rem solid rgb(182, 181, 181);
    width: 90%;
    display: block;
    transition: all 0.3s;
}